<a href="https://colab.research.google.com/github/arad4228/BigData_and_A.I/blob/main/%EB%B9%85%EB%8D%B0%EC%9D%B4%ED%84%B0%20%EC%9D%91%EC%9A%A9(3%EC%9B%94%2017%EC%9D%BC%20%EC%8B%A4%EC%8A%B5).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Pandas 자료구조 생성

In [1]:
import numpy as np
import pandas as pd

### numpy 2D ndarry로부터 생성
**No specific index & Column**

In [5]:
df = pd.DataFrame(
    np.random.rand(10,10))

In [6]:
df

,0,1,2,3,4,5,6,7,8,9
0,0.112539,0.946196,0.316717,0.454118,0.280960,0.352573,0.938142,0.896610,0.684406,0.890314
1,0.081429,0.840810,0.473748,0.813311,0.517543,0.490621,0.157443,0.545926,0.950947,0.441581
2,0.490947,0.031042,0.300475,0.151556,0.605699,0.346464,0.804817,0.565947,0.155186,0.552937
3,0.660674,0.674469,0.430676,0.443966,0.792698,0.186768,0.218223,0.599855,0.182360,0.326660
4,0.875920,0.193354,0.061736,0.482165,0.958357,0.986665,0.653643,0.261214,0.770818,0.792718
5,0.539977,0.796643,0.390495,0.548885,0.306276,0.420266,0.588173,0.123277,0.955945,0.395277
6,0.872135,0.222569,0.900097,0.743471,0.639618,0.851708,0.606400,0.308644,0.100457,0.862831
7,0.864498,0.886899,0.405124,0.627924,0.212756,0.887096,0.897095,0.055412,0.323435,0.918289
8,0.136644,0.431985,0.993721,0.195904,0.402613,0.704368,0.473912,0.426460,0.540191,0.294088
9,0.604270,0.992100,0.533355,0.297531,0.951505,0.570605,0.049338,0.890847,0.430414,0.191773

### numpy 2D ndarry로부터 생성
**specific index & Column**

In [7]:
index = pd.date_range("2000-01-01", periods=10)
df = pd.DataFrame(np.random.randn(10,3), index, columns= ["a","b","c"])

In [8]:
df

                   a         b         c
2000-01-01 -0.433353  1.095985 -1.121575
2000-01-02 -0.116861 -0.945303  1.029682
2000-01-03 -1.094396  0.371390  0.361096
2000-01-04  0.857852 -0.453129  0.478129
2000-01-05 -0.187254  0.621690  0.323169
2000-01-06  1.100282  0.017908  1.804609
2000-01-07 -0.485192  0.554826  0.178470
2000-01-08 -0.471343 -0.563678 -2.328637
2000-01-09  1.000970  0.697552  0.655174
2000-01-10 -1.034608  0.149552 -0.911945

### DataFrame 생성
**list로 부터 생성**

In [9]:
df1=pd.DataFrame(
    {"A":[1.0,np.nan, 3.0, 5.0,np.nan],"B":[np.nan, 2.0, 3.0, np.nan, 6.0]}
)

In [10]:
df1

     A    B
0  1.0  NaN
1  NaN  2.0
2  3.0  3.0
3  5.0  NaN
4  NaN  6.0

In [11]:
df2 = pd.DataFrame(
    [[5.0, 2.0, 5.0, np.nan, 3.0, 7.0], 
     [np.nan, np.nan, 3.0, 4.0, 6.0, 8.0]], 
     columns=["A","B","C","D","E","F"], 
     index=["a","b"]
)

In [12]:
df2

     A    B    C    D    E    F
a  5.0  2.0  5.0  NaN  3.0  7.0
b  NaN  NaN  3.0  4.0  6.0  8.0

In [14]:
df2 = pd.DataFrame(
    [[1.0, np.nan],
     [np.nan, 2.0],
     [3.0, 3.0],
     [5.0, np.nan],
     [np.nan, 6.0]],
     columns= ["A","B"]
)

In [15]:
df2

     A    B
0  1.0  NaN
1  NaN  2.0
2  3.0  3.0
3  5.0  NaN
4  NaN  6.0

### DataFrame 생성
**Series로부터 생성(Column and index**

In [18]:
# NaN Component가 존재할 수 있다.
df1 = pd.DataFrame(
    {
    "One": pd.Series(np.random.randn(3), index=["a","b","c"]),
    "Two": pd.Series(np.random.randn(4), index=["a","b","c","d"]),
    "Three": pd.Series(np.random.randn(3), index=["b","c","d"])
  }
)

In [19]:
df1

        One       Two     Three
a  1.654607 -0.832873       NaN
b  1.621843  0.424667 -0.473823
c  1.608846  0.035427 -0.342939
d       NaN  0.103127 -1.556329

# Pandas 데이터 선택

In [36]:
df = pd.DataFrame(
    np.random.randn(10,4),
    index=pd.date_range('2000-01-01', periods=10, freq='Y'),
    columns=["A","B","C","D"]
)

In [37]:
df

                   A         B         C         D
2000-12-31 -0.352391  0.517613  0.910607  0.580008
2001-12-31  0.245702  1.176514  0.453762  0.011238
2002-12-31 -1.640695  1.592180  1.655108  2.313223
2003-12-31 -1.075036  0.654225  0.465248  0.771727
2004-12-31 -1.087307 -0.276173 -0.564618  0.747090
2005-12-31 -0.519684 -0.413864  1.722774  0.133303
2006-12-31  0.980271  0.336378  0.970650  0.236887
2007-12-31  0.851703  1.886063  0.907802  0.863592
2008-12-31 -0.272636 -1.539090  0.801409  0.570578
2009-12-31 -1.026532  0.643491  0.559936  1.322088

### Column & Indexs 확인

In [21]:
df.index

DatetimeIndex(['2000-12-31', '2001-12-31', '2002-12-31', '2003-12-31',
               '2004-12-31', '2005-12-31', '2006-12-31', '2007-12-31',
               '2008-12-31', '2009-12-31'],
              dtype='datetime64[ns]', freq='A-DEC')

In [23]:
df.columns

Index(['A', 'B', 'C', 'D'], dtype='object')

### Column선택
**Column label로 직접 선택(label)**

In [27]:
df['A']

2000-12-31    0.624123
2001-12-31   -0.290314
2002-12-31   -0.227116
2003-12-31   -0.942213
2004-12-31    0.861442
2005-12-31    1.407762
2006-12-31   -1.993121
2007-12-31   -0.424497
2008-12-31    0.281854
2009-12-31   -1.890931
Freq: A-DEC, Name: A, dtype: float64

In [28]:
df[['A','C']]

                   A         C
2000-12-31  0.624123 -1.054131
2001-12-31 -0.290314 -0.378671
2002-12-31 -0.227116  0.535359
2003-12-31 -0.942213  0.050700
2004-12-31  0.861442  1.975011
2005-12-31  1.407762  0.329062
2006-12-31 -1.993121  0.661058
2007-12-31 -0.424497  0.655606
2008-12-31  0.281854 -1.132302
2009-12-31 -1.890931  1.137248

### Column 선택
**loc()으로 선택**

In [29]:
df.loc[:,'A']

2000-12-31    0.624123
2001-12-31   -0.290314
2002-12-31   -0.227116
2003-12-31   -0.942213
2004-12-31    0.861442
2005-12-31    1.407762
2006-12-31   -1.993121
2007-12-31   -0.424497
2008-12-31    0.281854
2009-12-31   -1.890931
Freq: A-DEC, Name: A, dtype: float64

In [30]:
df.loc[:,['A','C']]

                   A         C
2000-12-31  0.624123 -1.054131
2001-12-31 -0.290314 -0.378671
2002-12-31 -0.227116  0.535359
2003-12-31 -0.942213  0.050700
2004-12-31  0.861442  1.975011
2005-12-31  1.407762  0.329062
2006-12-31 -1.993121  0.661058
2007-12-31 -0.424497  0.655606
2008-12-31  0.281854 -1.132302
2009-12-31 -1.890931  1.137248

### Column 선택
**iloc()으로 선택(index)**

In [32]:
# A
df.iloc[:,0]

2000-12-31    0.624123
2001-12-31   -0.290314
2002-12-31   -0.227116
2003-12-31   -0.942213
2004-12-31    0.861442
2005-12-31    1.407762
2006-12-31   -1.993121
2007-12-31   -0.424497
2008-12-31    0.281854
2009-12-31   -1.890931
Freq: A-DEC, Name: A, dtype: float64

In [33]:
df.iloc[:,0:2]

                   A         B
2000-12-31  0.624123 -0.582265
2001-12-31 -0.290314 -1.921459
2002-12-31 -0.227116 -0.016363
2003-12-31 -0.942213 -0.677617
2004-12-31  0.861442 -0.857635
2005-12-31  1.407762 -0.618807
2006-12-31 -1.993121 -1.034356
2007-12-31 -0.424497  1.002940
2008-12-31  0.281854  1.283074
2009-12-31 -1.890931  0.682601

### Row 선택
**index label로 직접 선택**

In [39]:
df

                   A         B         C         D
2000-12-31 -0.352391  0.517613  0.910607  0.580008
2001-12-31  0.245702  1.176514  0.453762  0.011238
2002-12-31 -1.640695  1.592180  1.655108  2.313223
2003-12-31 -1.075036  0.654225  0.465248  0.771727
2004-12-31 -1.087307 -0.276173 -0.564618  0.747090
2005-12-31 -0.519684 -0.413864  1.722774  0.133303
2006-12-31  0.980271  0.336378  0.970650  0.236887
2007-12-31  0.851703  1.886063  0.907802  0.863592
2008-12-31 -0.272636 -1.539090  0.801409  0.570578
2009-12-31 -1.026532  0.643491  0.559936  1.322088

In [38]:
df[0:1]

                   A         B         C         D
2000-12-31 -0.352391  0.517613  0.910607  0.580008

In [40]:
df['2000-12-31':'2002-12-31']

                   A         B         C         D
2000-12-31 -0.352391  0.517613  0.910607  0.580008
2001-12-31  0.245702  1.176514  0.453762  0.011238
2002-12-31 -1.640695  1.592180  1.655108  2.313223

### Row 선택
**loc()으로 선택**

In [41]:
df.loc['2001-12-31']

A    0.245702
B    1.176514
C    0.453762
D    0.011238
Name: 2001-12-31 00:00:00, dtype: float64

In [42]:
df.loc['2000-12-31':'2001-12-31']

                   A         B         C         D
2000-12-31 -0.352391  0.517613  0.910607  0.580008
2001-12-31  0.245702  1.176514  0.453762  0.011238

In [43]:
df.loc[['2000-12-31','2001-12-31']]

                   A         B         C         D
2000-12-31 -0.352391  0.517613  0.910607  0.580008
2001-12-31  0.245702  1.176514  0.453762  0.011238

### Row 선택
**iloc()으로 선택**

In [44]:
df.iloc[0]

A   -0.352391
B    0.517613
C    0.910607
D    0.580008
Name: 2000-12-31 00:00:00, dtype: float64

In [45]:
df.iloc[0:2]

                   A         B         C         D
2000-12-31 -0.352391  0.517613  0.910607  0.580008
2001-12-31  0.245702  1.176514  0.453762  0.011238

In [46]:
df.iloc[0:3:2]

                   A         B         C         D
2000-12-31 -0.352391  0.517613  0.910607  0.580008
2002-12-31 -1.640695  1.592180  1.655108  2.313223

### 원하는 범위의 데이터 선택
**loc()으로 선택**

In [47]:
df.loc['2001-12-31','C']

0.45376154790997086

In [48]:
df.loc['2002-12-31':'2004-12-31','B':'C']

                   B         C
2002-12-31  1.592180  1.655108
2003-12-31  0.654225  0.465248
2004-12-31 -0.276173 -0.564618

### 원하는 범위의 데이터 선택
**iloc()으로 선택**

In [49]:
df.iloc[4,3]

0.747089952097186

In [51]:
df.iloc[2:4,1:3]

                   B         C
2002-12-31  1.592180  1.655108
2003-12-31  0.654225  0.465248

In [52]:
df.iloc[[2, 3], [1, 3]]

                   B         D
2002-12-31  1.592180  2.313223
2003-12-31  0.654225  0.771727

### 조건을 이용한 데이터 선택
**lambda 연산**

In [54]:
# A의 원소가 0보다 큰것을 선택
df.loc[lambda df: df['A'] > 0, :]

                   A         B         C         D
2001-12-31  0.245702  1.176514  0.453762  0.011238
2006-12-31  0.980271  0.336378  0.970650  0.236887
2007-12-31  0.851703  1.886063  0.907802  0.863592

In [57]:
df.loc[:, lambda df:['A', 'B']]

                   A         B
2000-12-31 -0.352391  0.517613
2001-12-31  0.245702  1.176514
2002-12-31 -1.640695  1.592180
2003-12-31 -1.075036  0.654225
2004-12-31 -1.087307 -0.276173
2005-12-31 -0.519684 -0.413864
2006-12-31  0.980271  0.336378
2007-12-31  0.851703  1.886063
2008-12-31 -0.272636 -1.539090
2009-12-31 -1.026532  0.643491

In [58]:
df.loc[lambda df:['2001-12-31','2004-12-31']]

                   A         B         C         D
2001-12-31  0.245702  1.176514  0.453762  0.011238
2004-12-31 -1.087307 -0.276173 -0.564618  0.747090

### 조건을 이용한 데이터 선택
**조건문 및 bool 연산**

In [59]:
df[df['A']> 0]

                   A         B         C         D
2001-12-31  0.245702  1.176514  0.453762  0.011238
2006-12-31  0.980271  0.336378  0.970650  0.236887
2007-12-31  0.851703  1.886063  0.907802  0.863592

In [63]:
df[(df['A'] > 0) & (df['C'] > 0)]

                   A         B         C         D
2001-12-31  0.245702  1.176514  0.453762  0.011238
2006-12-31  0.980271  0.336378  0.970650  0.236887
2007-12-31  0.851703  1.886063  0.907802  0.863592

### 조건을 이용한 데이터 선택
**Random sampling 연산**

In [64]:
df.sample()

                   A         B         C        D
2004-12-31 -1.087307 -0.276173 -0.564618  0.74709

In [65]:
df.sample(n = 3)

                   A         B         C         D
2005-12-31 -0.519684 -0.413864  1.722774  0.133303
2008-12-31 -0.272636 -1.539090  0.801409  0.570578
2001-12-31  0.245702  1.176514  0.453762  0.011238

In [67]:
df.sample(n=2,axis =1)

                   B         A
2000-12-31  0.517613 -0.352391
2001-12-31  1.176514  0.245702
2002-12-31  1.592180 -1.640695
2003-12-31  0.654225 -1.075036
2004-12-31 -0.276173 -1.087307
2005-12-31 -0.413864 -0.519684
2006-12-31  0.336378  0.980271
2007-12-31  1.886063  0.851703
2008-12-31 -1.539090 -0.272636
2009-12-31  0.643491 -1.026532

In [66]:
df.sample(axis=1)

                   D
2000-12-31  0.580008
2001-12-31  0.011238
2002-12-31  2.313223
2003-12-31  0.771727
2004-12-31  0.747090
2005-12-31  0.133303
2006-12-31  0.236887
2007-12-31  0.863592
2008-12-31  0.570578
2009-12-31  1.322088

### 필터를 이용한 데이터 선택

In [68]:
date=pd.date_range('2000-1-1', periods=10, freq ='Y')
df = pd.DataFrame(
    {
        "A":pd.Series(np.random.randint(0,10,size=10), index=date),
        "B":pd.Series(np.random.randint(0,10,size=10), index=date),
        "C":pd.Series(np.random.randint(0,10,size=10), index=date),
        "D":pd.Series(np.random.randint(0,10,size=10), index=date)
    }
)

In [69]:
df

            A  B  C  D
2000-12-31  9  2  4  3
2001-12-31  6  6  8  2
2002-12-31  4  2  2  7
2003-12-31  5  2  3  5
2004-12-31  8  1  2  3
2005-12-31  6  6  5  7
2006-12-31  6  5  8  4
2007-12-31  4  5  1  2
2008-12-31  1  8  9  7
2009-12-31  6  9  8  8

### 필터를 이용한 데이터 선택
**isin([a,b])**

In [70]:
df["A"].isin([9])

2000-12-31     True
2001-12-31    False
2002-12-31    False
2003-12-31    False
2004-12-31    False
2005-12-31    False
2006-12-31    False
2007-12-31    False
2008-12-31    False
2009-12-31    False
Freq: A-DEC, Name: A, dtype: bool

In [71]:
df[df["A"].isin([9])]

            A  B  C  D
2000-12-31  9  2  4  3

In [75]:
(df["A"].isin([9])) | (df["B"].isin([5]))

2000-12-31     True
2001-12-31    False
2002-12-31    False
2003-12-31    False
2004-12-31    False
2005-12-31    False
2006-12-31     True
2007-12-31     True
2008-12-31    False
2009-12-31    False
Freq: A-DEC, dtype: bool

In [76]:
df[(df["A"].isin([9])) | (df["B"].isin([5]))]

            A  B  C  D
2000-12-31  9  2  4  3
2006-12-31  6  5  8  4
2007-12-31  4  5  1  2

# Pandas 데이터 가공

In [82]:
date=pd.date_range('2000-1-1', periods=5, freq ='Y')
df = pd.DataFrame(
    {
        "A":pd.Series(np.random.randint(0,10,size=5), index=date),
        "B":pd.Series(np.random.randint(0,10,size=5), index=date),
        "C":pd.Series(np.random.randint(0,10,size=5), index=date),
        "D":pd.Series(np.random.randint(0,10,size=5), index=date)
    }
)

In [83]:
df

            A  B  C  D
2000-12-31  5  3  9  9
2001-12-31  5  1  3  5
2002-12-31  5  3  7  4
2003-12-31  1  7  5  4
2004-12-31  3  2  7  3

### 자료구조 변경하기
**행/열 추가**

In [84]:
# E열 추가
df["E"] = pd.Series(np.random.randint(0,10, size=5), index=date)

In [85]:
df

            A  B  C  D  E
2000-12-31  5  3  9  9  4
2001-12-31  5  1  3  5  7
2002-12-31  5  3  7  4  6
2003-12-31  1  7  5  4  2
2004-12-31  3  2  7  3  3

In [86]:
# 행 추가
df.loc['2005-12-31',:] = [0, 0, 0, 0, 0]

In [87]:
df

              A    B    C    D    E
2000-12-31  5.0  3.0  9.0  9.0  4.0
2001-12-31  5.0  1.0  3.0  5.0  7.0
2002-12-31  5.0  3.0  7.0  4.0  6.0
2003-12-31  1.0  7.0  5.0  4.0  2.0
2004-12-31  3.0  2.0  7.0  3.0  3.0
2005-12-31  0.0  0.0  0.0  0.0  0.0

### 자료구조 변경하기
**행/열 추가(insert)**

In [95]:
df = pd.DataFrame(
    np.random.randn(10,4),
    index=pd.date_range('2000-01-01', periods=10, freq='Y'),
    columns=["A","B","C","D"]
)

In [96]:
df

                   A         B         C         D
2000-12-31  0.684935 -0.281440  1.212968 -0.592107
2001-12-31 -0.567078  1.688598 -0.714648  0.840530
2002-12-31 -1.115869  0.061469  1.411732 -0.652745
2003-12-31  0.783461 -0.292416  1.094128  0.374990
2004-12-31 -1.114081 -0.851991 -0.032063  0.288038
2005-12-31 -0.589383 -0.924253  0.325059  1.084681
2006-12-31  0.651693  0.929484  1.162870 -0.905785
2007-12-31 -0.463575 -0.396089  0.321953 -1.853319
2008-12-31 -1.066661  0.669730 -0.731805 -1.405234
2009-12-31 -0.110354 -2.042557  0.148165  0.419459

In [103]:
df.insert(1,'AA', pd.Series(np.random.randn(10), index=pd.date_range('1/1/2000', periods=10, freq='Y')))

In [104]:
df

                   A        AA         B         C         D
2000-12-31  0.684935 -0.492298 -0.281440  1.212968 -0.592107
2001-12-31 -0.567078  0.447874  1.688598 -0.714648  0.840530
2002-12-31 -1.115869 -0.025299  0.061469  1.411732 -0.652745
2003-12-31  0.783461 -1.874065 -0.292416  1.094128  0.374990
2004-12-31 -1.114081  1.149897 -0.851991 -0.032063  0.288038
2005-12-31 -0.589383  1.888079 -0.924253  0.325059  1.084681
2006-12-31  0.651693 -0.762621  0.929484  1.162870 -0.905785
2007-12-31 -0.463575 -0.675918 -0.396089  0.321953 -1.853319
2008-12-31 -1.066661  1.327404  0.669730 -0.731805 -1.405234
2009-12-31 -0.110354  1.058689 -2.042557  0.148165  0.419459

### 자료구조 변경하기
**행/열 삭제**

In [106]:
# 행 삭제
df.drop('2005-12-31', axis=0)

                   A        AA         B         C         D
2000-12-31  0.684935 -0.492298 -0.281440  1.212968 -0.592107
2001-12-31 -0.567078  0.447874  1.688598 -0.714648  0.840530
2002-12-31 -1.115869 -0.025299  0.061469  1.411732 -0.652745
2003-12-31  0.783461 -1.874065 -0.292416  1.094128  0.374990
2004-12-31 -1.114081  1.149897 -0.851991 -0.032063  0.288038
2006-12-31  0.651693 -0.762621  0.929484  1.162870 -0.905785
2007-12-31 -0.463575 -0.675918 -0.396089  0.321953 -1.853319
2008-12-31 -1.066661  1.327404  0.669730 -0.731805 -1.405234
2009-12-31 -0.110354  1.058689 -2.042557  0.148165  0.419459

In [119]:
df["E"] = pd.Series(np.random.randn(9), index=pd.date_range('1/1/2000', periods=9, freq = 'Y'))

In [120]:
df

                   A        AA         B         C         D         E
2000-12-31  0.684935 -0.492298 -0.281440  1.212968 -0.592107 -0.427974
2001-12-31 -0.567078  0.447874  1.688598 -0.714648  0.840530  0.618400
2002-12-31 -1.115869 -0.025299  0.061469  1.411732 -0.652745  0.625944
2003-12-31  0.783461 -1.874065 -0.292416  1.094128  0.374990 -1.648522
2004-12-31 -1.114081  1.149897 -0.851991 -0.032063  0.288038  0.359610
2005-12-31 -0.589383  1.888079 -0.924253  0.325059  1.084681  0.501044
2006-12-31  0.651693 -0.762621  0.929484  1.162870 -0.905785 -0.756245
2007-12-31 -0.463575 -0.675918 -0.396089  0.321953 -1.853319  0.326122
2008-12-31 -1.066661  1.327404  0.669730 -0.731805 -1.405234 -0.453473
2009-12-31 -0.110354  1.058689 -2.042557  0.148165  0.419459       NaN

In [123]:
# 열 삭제
df.drop('E',axis=1)
# 이는 결과를 저장하지 않는다.

                   A        AA         B         C         D
2000-12-31  0.684935 -0.492298 -0.281440  1.212968 -0.592107
2001-12-31 -0.567078  0.447874  1.688598 -0.714648  0.840530
2002-12-31 -1.115869 -0.025299  0.061469  1.411732 -0.652745
2003-12-31  0.783461 -1.874065 -0.292416  1.094128  0.374990
2004-12-31 -1.114081  1.149897 -0.851991 -0.032063  0.288038
2005-12-31 -0.589383  1.888079 -0.924253  0.325059  1.084681
2006-12-31  0.651693 -0.762621  0.929484  1.162870 -0.905785
2007-12-31 -0.463575 -0.675918 -0.396089  0.321953 -1.853319
2008-12-31 -1.066661  1.327404  0.669730 -0.731805 -1.405234
2009-12-31 -0.110354  1.058689 -2.042557  0.148165  0.419459

### 원소 변경하기
**행 단위, 열단위, 영역단위, 개별 원소**

In [129]:
date=pd.date_range('2000-1-1', periods=5, freq ='Y')
df = pd.DataFrame(
    {
        "A":pd.Series(np.random.randint(0,10,size=5), index=date),
        "B":pd.Series(np.random.randint(0,10,size=5), index=date),
        "C":pd.Series(np.random.randint(0,10,size=5), index=date),
        "D":pd.Series(np.random.randint(0,10,size=5), index=date),
        "E":pd.Series(np.random.randint(0,10,size=5), index=date)
    }
)

In [130]:
df

            A  B  C  D  E
2000-12-31  9  9  4  8  2
2001-12-31  9  5  7  3  6
2002-12-31  9  7  3  9  7
2003-12-31  1  4  0  4  2
2004-12-31  1  3  1  5  4

### 원소 변경하기
**열 단위 원소 변경하기**

In [134]:
df['A'] = [1, 1, 1, 1, 1]

In [135]:
df

            A  B  C  D  E
2000-12-31  1  9  4  8  2
2001-12-31  1  5  7  3  6
2002-12-31  1  7  3  9  7
2003-12-31  1  4  0  4  2
2004-12-31  1  3  1  5  4

In [136]:
df.iloc[:,4] = [4, 4, 4, 4, 4]

In [137]:
df

            A  B  C  D  E
2000-12-31  1  9  4  8  4
2001-12-31  1  5  7  3  4
2002-12-31  1  7  3  9  4
2003-12-31  1  4  0  4  4
2004-12-31  1  3  1  5  4

### 원소 변경하기
**행 단위 원소 변경하기**

In [138]:
df.loc['2000-12-31', :] = [2, 2, 2, 2, 2]

In [139]:
df

            A  B  C  D  E
2000-12-31  2  2  2  2  2
2001-12-31  1  5  7  3  4
2002-12-31  1  7  3  9  4
2003-12-31  1  4  0  4  4
2004-12-31  1  3  1  5  4

In [140]:
df.iloc[2,:] = [3, 3, 3, 3, 3]

In [141]:
df

            A  B  C  D  E
2000-12-31  2  2  2  2  2
2001-12-31  1  5  7  3  4
2002-12-31  3  3  3  3  3
2003-12-31  1  4  0  4  4
2004-12-31  1  3  1  5  4

### 원소 변경하기
**영역 단위 원소 변경하기**

In [142]:
df.loc[['2001-12-31', '2002-12-31'], ['B','C']] = [[1000, 1000], [2000, 2000]]

In [143]:
df

            A     B     C  D  E
2000-12-31  2     2     2  2  2
2001-12-31  1  1000  1000  3  4
2002-12-31  3  2000  2000  3  3
2003-12-31  1     4     0  4  4
2004-12-31  1     3     1  5  4

In [144]:
df.iloc[3:5, 2:4] = [[100, 100], [200, 200]]

In [145]:
df

            A     B     C    D  E
2000-12-31  2     2     2    2  2
2001-12-31  1  1000  1000    3  4
2002-12-31  3  2000  2000    3  3
2003-12-31  1     4   100  100  4
2004-12-31  1     3   200  200  4

### 원소 변경하기
**개별 원소 변경하기**

In [146]:
df.iat[0,0] = 10000

In [147]:
df

                A     B     C    D  E
2000-12-31  10000     2     2    2  2
2001-12-31      1  1000  1000    3  4
2002-12-31      3  2000  2000    3  3
2003-12-31      1     4   100  100  4
2004-12-31      1     3   200  200  4

In [148]:
df.at['2005-12-31', 'E'] = 20000

In [149]:
df

                  A       B       C      D        E
2000-12-31  10000.0     2.0     2.0    2.0      2.0
2001-12-31      1.0  1000.0  1000.0    3.0      4.0
2002-12-31      3.0  2000.0  2000.0    3.0      3.0
2003-12-31      1.0     4.0   100.0  100.0      4.0
2004-12-31      1.0     3.0   200.0  200.0      4.0
2005-12-31      NaN     NaN     NaN    NaN  20000.0

### 원소 삭제하기
**행/열 삭제하기**

In [150]:
date=pd.date_range('2000-1-1', periods=5, freq ='Y')
df = pd.DataFrame(
    {
        "A":pd.Series(np.random.randint(0,10,size=5), index=date),
        "B":pd.Series(np.random.randint(0,10,size=5), index=date),
        "C":pd.Series(np.random.randint(0,10,size=5), index=date),
        "D":pd.Series(np.random.randint(0,10,size=5), index=date),
    }
)

In [152]:
df

            A  B  C  D
2000-12-31  9  0  4  5
2001-12-31  4  3  5  8
2002-12-31  1  7  2  5
2003-12-31  4  6  7  2
2004-12-31  9  7  0  9

In [153]:
# 행 삭제하기
df.drop('2000-12-31', axis=0)

            A  B  C  D
2001-12-31  4  3  5  8
2002-12-31  1  7  2  5
2003-12-31  4  6  7  2
2004-12-31  9  7  0  9

In [155]:
df.drop('2000-12-31')

            A  B  C  D
2001-12-31  4  3  5  8
2002-12-31  1  7  2  5
2003-12-31  4  6  7  2
2004-12-31  9  7  0  9

In [157]:
# 열 삭제하기
df.drop('A', axis=1)

            B  C  D
2000-12-31  0  4  5
2001-12-31  3  5  8
2002-12-31  7  2  5
2003-12-31  6  7  2
2004-12-31  7  0  9

In [158]:
df.drop(['A','C'], axis=1)

            B  D
2000-12-31  0  5
2001-12-31  3  8
2002-12-31  7  5
2003-12-31  6  2
2004-12-31  7  9

### 결측값 처리

In [163]:
df = pd.DataFrame(
    {
        "A":pd.Series(np.random.randint(0,10,size=5), index=['a','b','c','d','e']),
        "B":pd.Series(np.random.randint(0,10,size=4), index=['b','c','d','e']),
        "C":pd.Series(np.random.randint(0,10,size=3), index=['a','b','c'])
    }
)

In [164]:
df

   A    B    C
a  4  NaN  8.0
b  7  5.0  0.0
c  8  7.0  0.0
d  2  4.0  NaN
e  0  1.0  NaN

### 결측값 처리
**결측값: NaN(Not a Number, np.nan)**

In [166]:
# 결측값을 포함하는 행/열 처리
df.dropna()

   A    B    C
b  7  5.0  0.0
c  8  7.0  0.0

In [167]:
df.dropna(axis=1)

   A
a  4
b  7
c  8
d  2
e  0

In [169]:
# 결측값 변경
df.fillna(10)

   A     B     C
a  4  10.0   8.0
b  7   5.0   0.0
c  8   7.0   0.0
d  2   4.0  10.0
e  0   1.0  10.0

### 함수를 이용한 원소 변경
**replace(), apply(), agg(), transform()**

In [176]:
# replace(): 값을 교체
df1 =df.replace(np.nan, 20)

In [177]:
df1

   A     B     C
a  4  20.0   8.0
b  7   5.0   0.0
c  8   7.0   0.0
d  2   4.0  20.0
e  0   1.0  20.0

In [179]:
def func(x):
  if(x > 10):
    return 'A'
  else:
    return 'B'

In [180]:
# apply(): 행/열단위 함수 적용
df1['B'].apply(func)

a    A
b    B
c    B
d    B
e    B
Name: B, dtype: object

In [181]:
df1.iloc[0].apply(func)

A    B
B    A
C    B
Name: a, dtype: object

# Pandas 데이터 분석

In [185]:
date=pd.date_range('2000-1-1', periods=10, freq ='Y')
df = pd.DataFrame(
    {
        "A":pd.Series(np.random.randint(0,10,size=10), index=date),
        "B":pd.Series(np.random.randint(0,10,size=10), index=date),
        "C":pd.Series(np.random.randint(0,10,size=10), index=date),
        "D":pd.Series(np.random.randint(0,10,size=10), index=date),
    }
)

In [186]:
df

            A  B  C  D
2000-12-31  4  8  8  9
2001-12-31  1  0  4  9
2002-12-31  2  8  1  8
2003-12-31  4  3  6  0
2004-12-31  3  7  1  2
2005-12-31  9  3  7  6
2006-12-31  7  4  9  3
2007-12-31  2  7  4  6
2008-12-31  2  0  6  1
2009-12-31  4  9  7  7

### Pandas 데이터 분석
**head/tail**

In [189]:
# 첫 5개 추출
df.head()

            A  B  C  D
2000-12-31  4  8  8  9
2001-12-31  1  0  4  9
2002-12-31  2  8  1  8
2003-12-31  4  3  6  0
2004-12-31  3  7  1  2

In [190]:
# 마지막 5개 추출
df.tail()

            A  B  C  D
2005-12-31  9  3  7  6
2006-12-31  7  4  9  3
2007-12-31  2  7  4  6
2008-12-31  2  0  6  1
2009-12-31  4  9  7  7

### Pandas 데이터 분석
**head/tail(n)**

In [191]:
df.head(3)

            A  B  C  D
2000-12-31  4  8  8  9
2001-12-31  1  0  4  9
2002-12-31  2  8  1  8

In [192]:
df.tail(4)

            A  B  C  D
2006-12-31  7  4  9  3
2007-12-31  2  7  4  6
2008-12-31  2  0  6  1
2009-12-31  4  9  7  7

### Pandas 데이터 분석
**describe(): 데이터 열에 대한 통계**

In [194]:
df.describe()

               A        B          C        D
count  10.000000  10.0000  10.000000  10.0000
mean    3.800000   4.9000   5.300000   5.1000
std     2.485514   3.3483   2.750757   3.3483
min     1.000000   0.0000   1.000000   0.0000
25%     2.000000   3.0000   4.000000   2.2500
50%     3.500000   5.5000   6.000000   6.0000
75%     4.000000   7.7500   7.000000   7.7500
max     9.000000   9.0000   9.000000   9.0000

### Pandas 데이터 분석
**index of min/max**

In [198]:
# 가장 작은 원소를 가진 열의 label을 리턴
df.idxmin(0)

A   2001-12-31
B   2001-12-31
C   2002-12-31
D   2003-12-31
dtype: datetime64[ns]

In [199]:
# 가장 큰 원소를 가진 행의 label을 리턴
df.idxmax(1)

2000-12-31    D
2001-12-31    D
2002-12-31    B
2003-12-31    C
2004-12-31    B
2005-12-31    A
2006-12-31    C
2007-12-31    B
2008-12-31    C
2009-12-31    B
Freq: A-DEC, dtype: object

### Pandas 데이터 분석
**원소의 개수 세기**

In [201]:
# 동일 값을 가진 행의 개수 세기
df.value_counts()

A  B  C  D
1  0  4  9    1
2  0  6  1    1
   7  4  6    1
   8  1  8    1
3  7  1  2    1
4  3  6  0    1
   8  8  9    1
   9  7  7    1
7  4  9  3    1
9  3  7  6    1
dtype: int64

In [202]:
# 열에서 원소의 개수 세기
df['A'].value_counts()

4    3
2    3
1    1
3    1
9    1
7    1
Name: A, dtype: int64

In [204]:
# 행에서 원소의 개수 세기
df.iloc[0].value_counts()

8    2
4    1
9    1
Name: 2000-12-31 00:00:00, dtype: int64

### Pandas 데이터 분석
**Discretization**

In [206]:
# 구간 나누기(n개의 구간)
cut1 =pd.cut(df['A'],4)

In [207]:
cut1

2000-12-31      (3.0, 5.0]
2001-12-31    (0.992, 3.0]
2002-12-31    (0.992, 3.0]
2003-12-31      (3.0, 5.0]
2004-12-31    (0.992, 3.0]
2005-12-31      (7.0, 9.0]
2006-12-31      (5.0, 7.0]
2007-12-31    (0.992, 3.0]
2008-12-31    (0.992, 3.0]
2009-12-31      (3.0, 5.0]
Freq: A-DEC, Name: A, dtype: category
Categories (4, interval[float64, right]): [(0.992, 3.0] < (3.0, 5.0] < (5.0, 7.0] < (7.0, 9.0]]

In [208]:
cut2 =pd.cut(df['A'],6)

In [209]:
cut2

2000-12-31      (3.667, 5.0]
2001-12-31    (0.992, 2.333]
2002-12-31    (0.992, 2.333]
2003-12-31      (3.667, 5.0]
2004-12-31    (2.333, 3.667]
2005-12-31      (7.667, 9.0]
2006-12-31    (6.333, 7.667]
2007-12-31    (0.992, 2.333]
2008-12-31    (0.992, 2.333]
2009-12-31      (3.667, 5.0]
Freq: A-DEC, Name: A, dtype: category
Categories (6, interval[float64, right]): [(0.992, 2.333] < (2.333, 3.667] < (3.667, 5.0] <
                                           (5.0, 6.333] < (6.333, 7.667] < (7.667, 9.0]]

In [211]:
# 각 구간별 월소 세기
pd.value_counts(cut1)

(0.992, 3.0]    5
(3.0, 5.0]      3
(5.0, 7.0]      1
(7.0, 9.0]      1
Name: A, dtype: int64

In [212]:
pd.cut(df['A'], 4).value_counts()

(0.992, 3.0]    5
(3.0, 5.0]      3
(5.0, 7.0]      1
(7.0, 9.0]      1
Name: A, dtype: int64

### Pandas 데이터 분석
**통계함수**

In [214]:
# 열에 대한 평균
df.mean()

A    3.8
B    4.9
C    5.3
D    5.1
dtype: float64

In [215]:
# 행에 대한 평균
df.mean(1)

2000-12-31    7.25
2001-12-31    3.50
2002-12-31    4.75
2003-12-31    3.25
2004-12-31    3.25
2005-12-31    6.25
2006-12-31    5.75
2007-12-31    4.75
2008-12-31    2.25
2009-12-31    6.75
Freq: A-DEC, dtype: float64

# Pandas 데이터 편집

### Pandas 데이터 편집
**concatenation**

In [216]:
df1=pd.DataFrame (
    {
        "A":['a00','a01','a02'],
        "B":['b00','b01','b02'],
        "C":['c00','c01','c02']
    },
    index = ['a','b','c']
)

In [217]:
df1

     A    B    C
a  a00  b00  c00
b  a01  b01  c01
c  a02  b02  c02

In [219]:
df2=pd.DataFrame(
    {
        "B":['B00','B01','B02'],
        "C":['C00','C01','C02'],
        "D":['D00','D01','D02']
    },
    index = ['b','c','d']
)

In [220]:
df2

     B    C    D
b  B00  C00  D00
c  B01  C01  D01
d  B02  C02  D02

In [222]:
# Concatenation
pd.concat([df1, df2])

     A    B    C    D
a  a00  b00  c00  NaN
b  a01  b01  c01  NaN
c  a02  b02  c02  NaN
b  NaN  B00  C00  D00
c  NaN  B01  C01  D01
d  NaN  B02  C02  D02

In [223]:
pd.concat([df2,df1])

     B    C    D    A
b  B00  C00  D00  NaN
c  B01  C01  D01  NaN
d  B02  C02  D02  NaN
a  b00  c00  NaN  a00
b  b01  c01  NaN  a01
c  b02  c02  NaN  a02

In [225]:
pd.concat([df1, df2], axis=1)

     A    B    C    B    C    D
a  a00  b00  c00  NaN  NaN  NaN
b  a01  b01  c01  B00  C00  D00
c  a02  b02  c02  B01  C01  D01
d  NaN  NaN  NaN  B02  C02  D02

In [226]:
pd.concat([df1, df2], axis=0, join="inner")

     B    C
a  b00  c00
b  b01  c01
c  b02  c02
b  B00  C00
c  B01  C01
d  B02  C02

In [227]:
pd.concat([df1, df2], axis=0,join="outer")

     A    B    C    D
a  a00  b00  c00  NaN
b  a01  b01  c01  NaN
c  a02  b02  c02  NaN
b  NaN  B00  C00  D00
c  NaN  B01  C01  D01
d  NaN  B02  C02  D02

In [228]:
pd.concat([df1, df2], axis=1, join="inner")

     A    B    C    B    C    D
b  a01  b01  c01  B00  C00  D00
c  a02  b02  c02  B01  C01  D01

In [229]:
pd.concat([df1, df2], axis=1,join="outer")

     A    B    C    B    C    D
a  a00  b00  c00  NaN  NaN  NaN
b  a01  b01  c01  B00  C00  D00
c  a02  b02  c02  B01  C01  D01
d  NaN  NaN  NaN  B02  C02  D02

### Pandas 데이터 편집
**merge**

In [282]:
df1 = pd.DataFrame(
    {
        "key":["k0", "k1", "k2", "k3"],
        "A":["a00", "a01", "a02", "a03"],
        "B":["b00", "b01", "b02", "b03"]
    }
)

In [283]:
df1

  key    A    B
0  k0  a00  b00
1  k1  a01  b01
2  k2  a02  b02
3  k3  a03  b03

In [284]:
df2 = pd.DataFrame(
    {
        "key":["k1", "k2", "k3", "k4"],
        "C":["c01", "c02", "c03", "c04"],
        "D":["b01", "b02", "b03", "b04"]
    }
)

In [285]:
df2

  key    C    D
0  k1  c01  b01
1  k2  c02  b02
2  k3  c03  b03
3  k4  c04  b04

In [286]:
pd.merge(df1, df2, on="key")

  key    A    B    C    D
0  k1  a01  b01  c01  b01
1  k2  a02  b02  c02  b02
2  k3  a03  b03  c03  b03

In [287]:
pd.merge(df2,df1, on="key")

  key    C    D    A    B
0  k1  c01  b01  a01  b01
1  k2  c02  b02  a02  b02
2  k3  c03  b03  a03  b03

In [288]:
df3 = pd.DataFrame(
    {
        "key1":["k0", "k1", "k2", "k3"],
        "key2":["k1","k2","k3","k3"],
        "A":["a00", "a01", "a02", "a03"],
        "B":["a10", "a11", "a12", "a13"]
    }
)

In [289]:
df3

  key1 key2    A    B
0   k0   k1  a00  a10
1   k1   k2  a01  a11
2   k2   k3  a02  a12
3   k3   k3  a03  a13

In [290]:
df4 = pd.DataFrame(
    {
        "key1":["k0", "k1", "k1", "k3"],
        "key2":["k1","k2", "k2","k4"],
        "A":["b00", "b01", "b02", "b03"],
        "B":["b10", "b11", "b12", "b13"]
    }
)

In [291]:
df4

  key1 key2    A    B
0   k0   k1  b00  b10
1   k1   k2  b01  b11
2   k1   k2  b02  b12
3   k3   k4  b03  b13

In [292]:
pd.merge(df3, df4, on="key1")

  key1 key2_x  A_x  B_x key2_y  A_y  B_y
0   k0     k1  a00  a10     k1  b00  b10
1   k1     k2  a01  a11     k2  b01  b11
2   k1     k2  a01  a11     k2  b02  b12
3   k3     k3  a03  a13     k4  b03  b13

In [293]:
pd.merge(df3,df4, on=["key2"])

  key1_x key2  A_x  B_x key1_y  A_y  B_y
0     k0   k1  a00  a10     k0  b00  b10
1     k1   k2  a01  a11     k1  b01  b11
2     k1   k2  a01  a11     k1  b02  b12

In [294]:
pd.merge(df3, df4, on=["key1","key2"])

  key1 key2  A_x  B_x  A_y  B_y
0   k0   k1  a00  a10  b00  b10
1   k1   k2  a01  a11  b01  b11
2   k1   k2  a01  a11  b02  b12

In [295]:
pd.merge(df3, df4, how="left", on=["key1", "key2"])

  key1 key2  A_x  B_x  A_y  B_y
0   k0   k1  a00  a10  b00  b10
1   k1   k2  a01  a11  b01  b11
2   k1   k2  a01  a11  b02  b12
3   k2   k3  a02  a12  NaN  NaN
4   k3   k3  a03  a13  NaN  NaN

In [296]:
pd.merge(df3, df4, how="right", on=["key1", "key2"])

  key1 key2  A_x  B_x  A_y  B_y
0   k0   k1  a00  a10  b00  b10
1   k1   k2  a01  a11  b01  b11
2   k1   k2  a01  a11  b02  b12
3   k3   k4  NaN  NaN  b03  b13

### Pandas 데이터 편집
**join**

In [298]:
df1 = pd.DataFrame(
    {
        "A":["a00", "a01", "a02"],
        "B":["a10", "a11", "a12"]
    },
    index =["k0","k1","k2"]
)

In [299]:
df1

      A    B
k0  a00  a10
k1  a01  a11
k2  a02  a12

In [306]:
df2 = pd.DataFrame(
    {
        "C":["b00", "b01", "b02"],
        "D":["b10", "b11", "b12"]
    },
    index =["k0","k1","k3"]
)

In [307]:
df2

      C    D
k0  b00  b10
k1  b01  b11
k3  b02  b12

In [308]:
df1.join(df2)

      A    B    C    D
k0  a00  a10  b00  b10
k1  a01  a11  b01  b11
k2  a02  a12  NaN  NaN

In [309]:
df2.join(df1)

      C    D    A    B
k0  b00  b10  a00  a10
k1  b01  b11  a01  a11
k3  b02  b12  NaN  NaN

In [310]:
df1.join(df2, how="inner")

      A    B    C    D
k0  a00  a10  b00  b10
k1  a01  a11  b01  b11

In [311]:
df1.join(df2, how="outer")

      A    B    C    D
k0  a00  a10  b00  b10
k1  a01  a11  b01  b11
k2  a02  a12  NaN  NaN
k3  NaN  NaN  b02  b12

In [312]:
df2.join(df1, how="inner")

      C    D    A    B
k0  b00  b10  a00  a10
k1  b01  b11  a01  a11

In [313]:
df2.join(df1, how="outer")

      C    D    A    B
k0  b00  b10  a00  a10
k1  b01  b11  a01  a11
k2  NaN  NaN  a02  a12
k3  b02  b12  NaN  NaN